body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

#men-diet{
    display: flex;
}

#top-right img{
    width: 150%;
    margin-left: 50px;
}

#top-left{
    width: 40%;
}

#top-left h1{
    font-size: 60px;
    margin-top: 200px;
    margin-left: 200px;
    color: rgb(69, 68, 73);
}
#top-left p{
    margin-left: 200px;
    line-height: 30px;
    font-size: 18px;
    
}

#top-right{
    width: 40%;
}
span{
    color: rgb(201, 6, 142);
}

#buttons li{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color:rgb(209, 16, 106) ;   
    color: white;
    margin-top: 60px; 
}

#logo{
    width: 50%;
}

#logo img{
    background-repeat: no-repeat;
    height: 140px;
    width: 190px;
    margin-left: 150px;
}

#navbar{
    display: flex;
}

#buttons{ 
    width: 50%;
    overflow: hidden;
    text-align: center;
}

.btn{
    margin-left: 20px;
    border-radius: 20px;
}